name: Test

on:
  push:
    branches: ['*']
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - run: npm ci
      - run: npm run format-check
      - run: npm run lint
      - run: npm run build

  check-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - run: npm ci
      - run: npm run build

      - name: Compare the expected and actual ./dist directories
        run: |
          if [ "$(git diff --ignore-space-at-eol ./dist | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi

  test-install:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./
        id: setup
      - name: Fail if version is not set
        if: steps.setup.outputs.configcat-version == ''
        run: exit 1
      - name: Ensure ConfigCat CLI is installed
        run: configcat --version

  test-eval:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./eval-flag
        id: eval
        with:
          base-url: https://test-cdn-global.configcat.com
          sdk-key: configcat-sdk-1/rvLYCPkdukiOEMFDoGt4xw/0ZW0Uzbafka-zVtQaNQQUw
          flag-keys: |
            str_test
            flag1
            nonexisting
          #user-attributes: id:csp
      - run: echo '${{join(steps.eval.outputs.*, '\n')}}'